.parking-lot-form {
    margin: 2rem;
    border: 2px var(--text-primary) solid;
    background-color: var(--background);
    padding: 2rem;
    text-align: left;
    min-width: 250px;
    transition: background-color .5s;
}